/* imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* colors */
:root {
    --color-bg-1: #0D0D0D;
    --color-bg-2: #262626;
    --color-bg-3: #595959;
    --color-tx-1: #F2F2F2;
    --color-tx-2: #A6A6A6;
    --color-tx-3: #757575;
}

/* magic */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Ubuntu Mono', monospace;
    background-color: var(--color-bg-1);
}

/* elementos */

a {
    text-decoration: none;
    color: var(--color-tx-2);
}

a:hover {
    color: var(--color-tx-3);
    max-height: ;
}

li {
    list-style-type: none;
    font-size: 20px;
}

/* class */
.titulo {
    color: var(--color-tx-1);
}

.search {
    margin-left: 12%;
}

/* ID */

#menu {
    background-color: var(--color-bg-2);
    width: fit-content;
    border-radius: 16px ;
    border: 0px solid rgba(0, 0, 0, 0);
    padding: 25px;
}

#duck {
    color:rgb(255, 255, 0);
    text-align: center;
    font-size: 20px;
}
