/* imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* colors */
:root {
    --color-cm-1-1: #11111b;
    --color-cm-1-2: #1e1e2e;
    --color-cm-1-3: #45475a;
    --color-cm-1-4: #6c7086;
    --color-cm-1-5: #9399b2;
    --color-cm-1-6: #bac2de;
    --color-cm-1-7: #b4befe;
    --color-cm-1-8: #74c7ec;
    --color-cm-1-9: #94e2d5;
    --color-cm-1-10: #f9e2af;
    --color-cm-1-11: #eba0ac;
    --color-cm-1-12: #cba6f7;
/**/
    --color-cm-2-1: #181825;
    --color-cm-2-2: #313244;
    --color-cm-2-3: #585b70;
    --color-cm-2-4: #7f849c;
    --color-cm-2-5: #a6adc8;
    --color-cm-2-6: #cdd6f4;
    --color-cm-2-7: #89b4fa;
    --color-cm-2-8: #89dceb;
    --color-cm-2-9: #a6e3a1;
    --color-cm-2-10: #fab387;
    --color-cm-2-11: #f38ba8;
    --color-cm-2-12: #f5c2e7;

}

/* magic */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Ubuntu Mono', monospace;
    background-color: var(--color-cm-1-1);
}

/* elementos */

a {
    text-decoration: none;
    color: var(--color-cm-1-6);
}

a:hover {
    color: var(--color-cm-2-6);
}

li {
    list-style-type: none;
    font-size: 20px;
}

/* class */
.titulo {
    color: var(--color-cm-1-7);
}

.search {
    margin-left: 12%;
}

/* ID */

#menu {
    background-color: var(--color-cm-2-1);
    width: fit-content;
    border-radius: 16px ;
    border: 0px solid rgba(0, 0, 0, 0);
    padding: 25px;
}

#duck {
    color: var(-color-cm-1-10);
    text-align: center;
    font-size: 20px;
}
