/* imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* colors */
:root {
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-mocha-red: #f38ba8;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-mocha-peach: #fab387;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-mocha-green: #a6e3a1;
	--ctp-mocha-teal: #94e2d5;
	--ctp-mocha-sky: #89dceb;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-mocha-blue: #87b0f9;
	--ctp-mocha-lavender: #b4befe;
	--ctp-mocha-text: #c6d0f5;
	--ctp-mocha-subtext1: #b3bcdf;
	--ctp-mocha-subtext0: #a1a8c9;
	--ctp-mocha-overlay2: #8e95b3;
	--ctp-mocha-overlay1: #7b819d;
	--ctp-mocha-overlay0: #696d86;
	--ctp-mocha-surface2: #565970;
	--ctp-mocha-surface1: #43465a;
	--ctp-mocha-surface0: #313244;
	--ctp-mocha-base: #1e1e2e;
	--ctp-mocha-mantle: #181825;
	--ctp-mocha-crust: #11111b;
}

::-webkit-scrollbar {
	width: 0px;
}

/* magic */
* {
	box-sizing: border-box;
}

body {
	margin: 0%;
	font-family: 'Ubuntu Mono', monospace;
	background-color: var(--ctp-mocha-base);
}

/* elementos */

nav {
	height: 7.5vh;
	width: 100vw;
	position: fixed;
	background-color: var(--ctp-mocha-crust);
	border-bottom: solid 4px var(--ctp-mocha-overlay0)
}

section {
	height: 100vh;
}

a {
	text-decoration: none;
	color: var(--ctp-mocha-subtext0);
}

a:hover {
	color: var(--ctp-mocha-subtext1);
}

ul {
	padding: 0px;
	margin: 20px 20px;
	width: 192px
}

li {
	list-style-type: none;
	font-size: 20px;
	margin-left: 1em;
}

p {
	margin: 0px;
}

/* class */
.blank {
	height: 15vh;
}

.titulo {
	color: var(--ctp-mocha-text);
}

.search {
	outline: none;
	margin-left: 0%;
	padding: 0px;
	border-style: hidden;
	border-color: var(--ctp-mocha-yellow);
	border-bottom-style: solid;
	border-bottom-width: medium;
	color: var(--ctp-mocha-yellow);
	font-size: xxx-large;
	text-align: center;
	background-color: transparent;
}

/* ID */
#duck {
	color: var(--ctp-mocha-yellow);
	text-align: center;
	font-size: 50px;
}

#pato_olho{
	color: var(--ctp-mocha-text);
}

#pato_bico{
	color: var(--ctp-mocha-red);
}

#menu {
	background-color: var(--ctp-mocha-mantle);
	width: fit-content;
	margin: auto;
	border-radius: 16px;
	border: 4px solid var(--ctp-mocha-overlay0);
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#marcadores {
	display: flex;
}